:root {
  --textColor: #2e443e;
  --baseColor: #edf3f2;
  --bordColor: #1e2b36;
  --baseLightColor: #fff;
  --secColor: #ec6557;
}

body {
  color: #000 !important;
}

#goBackButton {
  background: white;
  border: none;
}


#select-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.select {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.register-wrapper,
#kc-form-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 99.8vh;
}

.register-svg {
  width: 420px;
}

@media (max-width: 1160px) {
  .form-horizontal {
    max-width: 400px;
  }
}

@media (max-width: 960px) {
  .register-wrapper,
  #kc-form-wrapper {
    flex-direction: column-reverse;
  }

  .info-link-wrapper {
    margin-top: 50px !important;
    display: flex;
    justify-content: center;
    /*hidden social media*/
    visibility: hidden;
  }

  .pf-c-button.pf-m-primary {
    max-width: 100% !important;
  }

  .register-svg {
    width: 300px;
  }
}

.pf-c-form-control {
  border: 0.8px solid #c2c2c2;
  border-radius: 6px;
}

.pf-c-dropdown__menu.pf-m-align-right {
  background: red !important;
}

/* additional styles */

div.hidden-field {
  display: none;
}

div#kc-header {
  display: none;
}

/* Login Card */

.login-pf-page {
  padding: 0;
}

.images-wrapper {
  background: #edf3f2;
}

.login-pf-page .card-pf {
  background: linear-gradient(to right, #edf3f2 50%, #fff 50%);
  width: 100%;
  height: 100%;
  margin: 0;
}

@media (min-width: 768px) {
  .login-pf-page .card-pf {
    padding: 0;
  }
}

@media (max-width: 960px) {
  .login-pf-page .card-pf {
    background: #fff;
  }

  .images-wrapper {
    background: #fff;
  }
}

/* Card Title */

.login-pf-page .login-pf-header {
  margin-bottom: 0;
  height: 0;
}

#kc-page-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.5px;
  color: var(--textOffColor);
  margin-top: 0;
  margin-bottom: 30px;
}

/* Login Form */

.login-pf-page .form-group {
  margin-bottom: 10px;
}

.login-pf-page .form__label {
  font-size: 20px;
  margin-bottom: 15px;
}

.login-pf-page .form-control {
  border: 0.8px solid var(--bordColor);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 20px 30px;
}

.login-pf-page .form-control::placeholder {
  font-style: normal;
  font-size: 16px;
  color: var(--textColor);
}

#rememberMe {
  border: 0.8px solid var(--bordColor);
  box-sizing: border-box;
  border-radius: 6px;
}

#kc-form-options label {
  display: inline-flex;
  align-items: center;
  cursor: default;
  padding-left: 8px;
  margin-left: 10px
}
#kc-form-options input {
  margin-left: 0;
  cursor: pointer;
}

#kc-form-options .label-text {
  margin-left: 16px;
}

/* Reset Password Link */

#kc-form-reset-psw a {
  font-size: 14px;
  color: var(--textColor);
  padding-right: 8px;
}

#kc-form-buttons {
  margin-top: 20px;
  margin-bottom: 20px
}

/* Login Button */

#kc-login {
  background: var(--secColor);
  border-radius: 3px;
  padding: 13px 33px;
  color: var(--baseLightColor);
  border: none;
  font-size: 14px;
}

#kc-login:active:focus {
  opacity: 0.8;
  outline: none;
}

#kc-submit {
  margin: 0 20px 0 20px;
}

#kc-info {
  margin: 0 0 30px;
}

#kc-info-wrapper {
  font-size: 16px;
  line-height: 24px;
  color: var(--textColor);
  margin-bottom: 30px;
}

#kc-registration {
  margin-bottom: 30px;
}

#kc-form-options span,
#kc-registration span {
  font-size: 12px;
}

.login-pf-page .login-pf-signup {
  text-align: left;
}
.login-pf-page .login-pf-signup a {
  margin-left: 0;
}

#kc-form-options a,
#kc-registration a {
  color: var(--secColor);
  font-size: 12px;
  border-bottom: 1px solid var(--secColor);
  margin-left: 5px;
}

#kc-form-options a:hover,
#kc-registration a:hover {
  text-decoration: none !important;
}

#kc-form-options a:focus,
#kc-registration a:focus {
  outline: none !important;
}

.pf-c-button.pf-m-primary {
  background-color: var(--secColor);
  border-radius: 3px;
  padding: 13px 33px;
  color: var(--baseLightColor);
  border: none;
  font-size: 14px;
  max-width: 215px;
}


.d-flex {
  display: flex;
}

.terms-text {
  margin-left: 10px;
  margin-bottom: 0;
}

.headline-main {
  color: var(--textColor);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.headline-sec {
  color: var(--textColor);
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
  max-width: 315px;
}

.pf-c-form__label-text {
  font-size: 18px !important;
  margin-bottom: 2px !important;
}

.text-svg {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.info-link-wrapper {
  margin-top: 10px;
  /*hidden social media*/
  visibility: hidden;
}

.info-link {
  margin-right: 40px;
}

.login-pf-page .form-group {
  max-width: 400px !important;
}

.checkbox label {
  width: 120px !important;
}

.form-backtologin {
  margin-top: 10px;
  justify-content: end !important;
}
#input-error-email,#input-error-firstname, #input-error-lastname ,#input-error-username ,#input-error-password, #input-error-password-confirm {
  color:red;
}