.modal-container {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 6px;
}
#kc-register-terms-conditions-field div {
  align-items: inherit;
}
#kc-register-terms-conditions-field div input {
  margin-top: 0;
}

.modal-content {
  background: white;
  width: 50%;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
}

@media screen and (max-width: 750px) {
  .modal-content {
    width: 90%;
  }
  .modal-container {
    padding-top: 50px;
  }
}

#goBackLink {
  list-style-type: none;
  color: #000;
}

a:link {
  text-decoration: none;
}

#termsAndConditionsText::-webkit-scrollbar {
  width: 12px;
}

#termsAndConditionsText::-webkit-scrollbar-track {
  background: white;
}

#termsAndConditionsText::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid white;
}

#termsAndConditionsText {
  overflow-y: scroll;
  height: 600px;
  padding: 15px 20px;
}

#termsAndConditionsText p {
  font-size: 12px !important;
  color: #777777 !important;
}

#termsAndConditionsText h1 {
  color: #267dbc !important;
  text-align: center !important;
  font-size: 28px !important;
}
#termsAndConditionsText h2 {
  font-size: 16px !important;
  color: #267dbc !important;
}

@media screen and (max-height: 700px) {
  #termsAndConditionsText {
    height: 400px;
  }
}

.select-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.select {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.modal-sider {
  position: absolute;
  right: 0;
  top: 20%;
  width: 7px;
  height: 136px;
  background: #51a1da;
  border-radius: 6px 0px 0px 6px;
}

.modal h1 {
  color: #267dbc;
  font-weight: 600;
  font-size: 28px;
}

.modal h3 {
  color: #333132;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}

.modal p {
  color: #777777;
  font-weight: 400;
  font-size: 16px;
}

.buttons-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;
}

@media screen and (max-width: 560px) {
  .buttons-container {
    width: 100%;
  }
}

.decline-btn {
  padding: 3px 17px;
  color: white;
  background: #c2c2c2;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}

.accept-btn {
  padding: 3px 17px;
  color: white;
  background: #51a1da;
  border: 1px solid #51a1da;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
}

.login-pf-page .form-group {
  max-width: 400px !important;
}

@media screen and (max-width: 600px) {
  #kc-register-form {
    max-width: none !important;
    padding: 0 15px;
  }
}
